#expectation {
    background-color: #EFEFEF;
    height: 607px;
}

#expectation .container header {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #252525;
    padding-top: 88px;
}

#expectation .container .separate {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin-top: 40px;
    margin-bottom: 30px;

}

#expectation .container p {
    font-size: 23px;
    text-align: center;
    margin-bottom: 40px;
}

#expectation .container .expectation_boxes {
    display: flex;
    justify-content: space-around;
    
}


    #expectation .container .expectation_boxes .expectation_box .expectation_box_images {
        max-width: 342px;
        max-height: 201px;
    }

    #expectation .container .expectation_boxes .expectation_box p {
        max-width: 342px;
        font-size: 15px;
        color: #4A4A4A;
        font-weight: 300;
        font-style: normal;

    }
