#first_webinar  {
    height: 433px;

}

#first_webinar .container .first_webinar_icon {
    display: block;
    margin: 88px auto 40px auto;
    width: 342px;
    height: 201px;
}

#first_webinar .container h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#first_webinar .container time p {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-bottom: 15px;

}

#first_webinar .container p {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 40px;
}