footer {
    height: 169px;
    background-color: #1A1A1A;
    color: #888888;
    text-align: center;
    
    }
    
    footer .container .support {
        padding-top: 57px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 15px;
    }
    
    footer .container .support  a {
        color: #888888;
        margin: 6px;
        
    }
    
    footer .container .phone_number {
        font-weight: 300;
        font-size: 15px;
    }