#gift {
    height: 631px;
background-color: #EFEFEF;

}

#gift .container {
    height: 631px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;

}

#gift .container .gift_icon {
    width: 154px;
    height: 174px;
    margin-top: 60px;
}

#gift .container p {
    font-size: 30px;
    font-weight: 400;
    text-align:center;
    color: #252525;

}

#gift .container .apply_button {
    @include bluebutton();
}